// Global Styles

//Homepage Hero Section
.vp-hero-description {
  max-width: 45rem;
}

// Siderail Styling
// Adjust sidebar link font size
.vp-sidebar {
    .vp-sidebar-heading {
        font-size: 1.25rem; // Change to your preferred size
    }
}